source/index.html.haml
- @title = "Frontend developer job interview"
- @bodyclass = "index"


#form
  %textarea.input-block-level{:id => "textarea", :name => "data", :placeholder => "Paste your JSON URL here. ex: http://karpatsmoly.com/work/data.json", :rows => "1"}
  %button.btn.btn-info#submit Import

#status

#content 

  #breadcrumb
    %ul.breadcrumb
      %li.home
        %a{:href => "/"} Home

  #list 

%a#import.btn.btn-default{:href => "javascript:;"}
  Import JSON                    

build/index.html
<!DOCTYPE html>
<html lang='en'></html>
<head>
<meta charset='utf-8'>
<meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
<title>Frontend developer job interview</title>
<meta content='' name='description'>
<meta content='' name='author'>
<meta content='width=device-width, initial-scale=1.0' name='viewport'>
<link href="stylesheets/application.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id='wrap'>
<header class='navbar navbar-inverse'>
<div class='container'>
<div class='navbar-inner'>
<div class='navbar-header'>
<button class='navbar-toggle collapsed' data-target='.bs-navbar-collapse' data-toggle='collapse' type='button'>
<span class='sr-only'>Toggle navigation</span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
<span class='icon-bar'></span>
</button>
<a class='navbar-brand' href='#'>App</a>
</div>
<nav class='collapse navbar-collapse bs-navbar-collapse' role='navigation'>
<ul class='nav navbar-nav'>
<li class='active'>
<a href='#'>Home</a>
</li>
<li>
<a href='#'>About</a>
</li>
<li>
<a href='#'>Contact</a>
</li>
</ul>
</nav>
</div>
</div>
</header>
<div class='container'>
<div id='form'>
<textarea class='input-block-level' id='textarea' name='data' placeholder='Paste your JSON URL here. ex: http://karpatsmoly.com/work/data.json' rows='1'></textarea>
<button class='btn btn-info' id='submit'>Import</button>
</div>
<div id='status'></div>
<div id='content'>
<div id='breadcrumb'>
<ul class='breadcrumb'>
<li class='home'>
<a href='/'>Home</a>
</li>
</ul>
</div>
<div id='list'></div>
</div>
<a class='btn btn-default' href='javascript:;' id='import'>
Import JSON
</a>

</div>
</div>
<footer>
<div class='container'>
<p>&copy; 2014 App</p>
</div>
</footer>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="javascripts/application.js" type="text/javascript"></script>
<!-- :javascript -->
<!-- var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; -->
<!-- (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0]; -->
<!-- g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js'; -->
<!-- s.parentNode.insertBefore(g,s)}(document,'script')); -->
</body>
